body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

img{
    width: 400px;
    height: 400px;
}

.text{
    text-indent: 1em;
    text-align: justify;
}